{% extends 'Back/backE.html.twig' %}
{% block body %}
    <table class="table table-striped">
        {{ form_start(form) }}
        <tr>

            <td>{{ form_label(form.question) }}</td>
            <td>{{ form_widget(form.question) }}</td>

        </tr>
        <tr>
            <td>{{ form_label(form.cours) }}</td>
            <td>{{ form_widget(form.cours) }}<span hidden id="span">error</span></td>

        </tr>
        <tr>
            <td>{{ form_label(form.date) }}</td>
            <td>{{ form_widget(form.date) }}<span hidden id="span">error</span></td>
            <td>{{ form_errors(form.date) }}<span hidden id="span">error</span></td>

        </tr>

            <td></td>
            <td>{{ form_widget(form.Ajouter, { 'attr': {'class': 'btn btn-info  '}} ) }}</td>

            {{ form_end(form) }}
    </table>


{% endblock %}