{% extends 'Back/back.html.twig' %}
{% block body %}

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"  media="screen" />

    <br> <br>
    <table class="table table-striped">
        <tr align="center"  >
            <td><b>semaine</b></td>
            <td><b>jour</b></td>
            <td><b>plat</b></td>
            <td><b>dessert</b></td>
            <td><b>calories total</b></td>

            <td><b>Modifier</b></td>
            <td><b>Supprimer</b></td>


        </tr>

        {% for pp in e %}
            <tr align=" center" >
                <td>{{ pp.semaine.libelle }}</td>l
                <td>{{ pp.jour.libelle }}</td>
                <td>{{pp.plat.libelle}}</td>
                <td>{{pp.dessert.libelle}}</td>
                <td>{{pp.calories}}</td>
                <td><a href="{{ path('modifier_menu',{'id':pp.id}) }}"><i class="fa fa-edit" style="color:#2e6da4 " ></i></a></td>
                <td><a href="{{ path('supprimer_menu',{'id':pp.id}) }}"><i class="fa fa-trash" style="color: #ff6c5f"></i></a></td>

                <td>

                </td>


            </tr>
        {% endfor %}
    </table>

 <a href="{{ path('afficher_menu' )}}"> vue réelle </a>
{% endblock %}