{% extends 'Front/base.html.twig' %}
{% block content %}
    <br> <br>
    <table class="table table-striped">
        <tr align="center"  >

            <td><b>Plat</b></td>
            <td><b>Description</b></td>

            <td><b>voter</b></td>


        </tr>
        {% for pp in p %}
            <tr align=" center" >

                <td>{{ pp.libelle }}</td>
                <td>{{pp.description}}</td>



                <td>
                    <a style="color: red" href="{{ path('aimer',{'id':pp.id}) }}" id="{{ pp.id }}"> ❤️ </a>
                    {% if pp.likes ==1 %} {{ pp.likes }} personne aime ça
                    {% elseif pp.likes >1  %} {{ pp.likes }} personnes aiment ça
                    {% else %} Soyez le premier à aimer ça !
                    {% endif %}
                    <br>

                    <a   style="color: red" href="{{  path('dislike',{'id':pp.id}) }}" id="{{ pp.libelle }}">💔</a>

                    <br>

                    <p hidden id="ok"> merci pour votre vote</p>
                </td>


            </tr>
        {% endfor %}
    </table>


    <script>

        {% for nn in negatif %}
        {% for pp in p %}

        {% if  nn.plat.id==pp.id and u.id==nn.ideleve %}
        $(document).ready(function() {



            $('#{{ pp.libelle }}').hide();






        });




        {% endif %}
        {% endfor %}
        {% endfor %}


        {% for aa in avis %}
        {% for pp in p %}

        {% if  aa.plat.id==pp.id and u.id==aa.ideleve %}
        $(document).ready(function() {



            $('#{{ pp.id }}').hide();






        });




        {% endif %}
        {% endfor %}
        {% endfor %}






    </script>

{% endblock %}