{% extends 'Back/back.html.twig' %}

{% block count %}

    {{ x }}
{% endblock %}


{% block all %}
    {% for notif in notifs %}

        <li><a href="#">
                <div class="user_img"><img src="{{ asset('Back/images/1.jpg') }}" alt=""></div>
                <div class="notification_desc">
                    <p>{{ notif.user }} a aimé le plat {{ notif.plat }}</p>
                    <p><span><a href="{{ path('traiter_notif',{'plat':notif.plat.id}) }}">👁‍</i></a></span></p>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>

    {% endfor %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <br> <br>
        <h2> Ajouter plat </h2>
        <br>
        {{ form_start(form) }}
        <tr>

            <td>{{ form_label(form.libelle) }} </td>
            <td>{{ form_widget(form.libelle) }}</td>
        </tr>  <tr>

            <td>{{ form_label(form.calories) }}</td>
            <td>{{ form_widget(form.calories) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.description) }}</td>
            <td>{{ form_widget(form.description) }}</td>

        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.Ajouter, { 'attr': {'class': 'btn btn-info  '}} ) }}</td>

            {{ form_end(form) }}
    </table>

{% endblock %}