{% extends 'Back/back.html.twig' %}
{% block body %}
<table class="table table-striped">
    <tr align="center">

        <th>Nom</th>
        <th>Prenom</th>
        <th>Date</th>
        <th>Etat</th>
        <th>Supprimer</th>
        <th>Modifier</th>
    </tr>
    {% for cc in la %}
        <tr align="center">
            <td>{{ cc.eleve.nom}}</td>
            <td>{{ cc.eleve.prenom }}</td>
            <td>{{ cc.date|date }}</td>
            <td>{{ cc.etat }}</td>
            <td><a href="{{ path('Delete', {'id': cc.id }) }}"><i class="fa fa-trash" style="color: #ff6c5f"></a></td>
            <td><a href="{{ path('Update', {'id': cc.id }) }}"><i class="fa fa-edit" style="color:#2e6da4 " ></a></td>



        </tr>
    {% endfor %}

</table>
{% endblock %}