{% extends 'Back/back.html.twig' %}
   {% block search %}
       <div class="search-box">
           <form class="input">
               <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search"
                      id="input-31"/>
               <label class="input__label" for="input-31">

               </label>
           </form>
       </div>

   {% endblock %}
{% block body %}
Classe: {{ cl.libelle }}
    <script src="{{ asset('sorttable.js') }}"></script>

<table class="table table-striped sortable" id="entitiesNav">
    <tr align="center">

        <th>Nom</th>
        <th>Prenom</th>
        <th>Absence</th>
        <th>Noter</th>
        <th>Afficher notes</th>



    </tr>

    {% for ee in e %}

        <tr>

            <td>{{ ee.nom }}</td>
            <td>{{ ee.prenom }}</td>

            <td>
        <a href="{{ path('ajouta', {'ide': ee.id,'idc':cl.id }) }}">&nbsp;Marquer Absent</a> </td>
            <td>
                <a href="{{ path('ajoutn', {'id': ee.id,'idc': cl.id}) }}">&nbsp;Noter</a> </td>
            <td>
                <a href="{{ path('afficherne', {'ide': ee.id }) }}">&nbsp;Notes</a> </td>


        </tr>

    {% endfor %}

</table>

    <table class="table table-striped sortable" id="tbl" >
        <tr align="center">

            <th>Nom</th>
            <th>Prenom</th>
            <th>Absence</th>
            <th>Noter</th>
            <th>Afficher notes</th>



        </tr>

        {% for ee in e %}

            <tr>

                <td>{{ ee.nom }}</td>
                <td>{{ ee.prenom }}</td>

                <td>
                    <a href="{{ path('ajouta', {'ide': ee.id,'idc':cl.id }) }}">&nbsp;Marquer Absent</a> </td>
                <td>
                    <a href="{{ path('ajoutn', {'id': ee.id,'idc': cl.id}) }}">&nbsp;Noter</a> </td>
                <td>
                    <a href="{{ path('afficherne', {'ide': ee.id }) }}">&nbsp;Notes</a> </td>


            </tr>

        {% endfor %}

    </table>

{% endblock %}
{% block js %}

    <script type="text/javascript">
        $('#tbl').prop('hidden',true);
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#input-31").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('searchHazem') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){

                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);


                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'rec') {
                                            if (id !== 'error') {
                                                console.log(value[1]);

                                                entitySelector.append('<table class="table table-striped sortable" >\n' +
                                                    '    <tr align="center">\n' +
                                                    '\n' +
                                                    '        <th>Nom</th>\n' +
                                                    '        <th>Prenom</th>\n' +
                                                    '        <th>Absence</th>\n' +
                                                    '        <th>Noter</th>\n' +
                                                    '        <th>Afficher notes</th>\n' +
                                                    '\n' +
                                                    '\n' +
                                                    '\n' +
                                                    '    </tr>\n' +
                                                    '\n'  +
                                                    '\n' +
                                                    '        <tr>\n' +
                                                    '\n' +
                                                    '            <td>'+value[0]+'</td>\n' +
                                                    '            <td>'+value[1]+'</td>\n' +
                                                '<td><a  href="http://localhost/Pi-final/web/app_dev.php/s/AjoutA/'+value[2]+'/'+value[3]+'" >&nbspMarquer Absent</a> '
                                                    +'</td>\n' +'<td><a  href="http://localhost/Pi-final/web/app_dev.php/s/AjoutN/'+value[2]+'/'+value[3]+'" >&nbspNoter</a> '
                                                    +'</td>\n'+
                                                    '<td><a  href="http://localhost/Pi-final/web/app_dev.php/s/Afficherne/'+value[2]+' " >&nbspNotes</a> '
                                                    +'</td>\n'+

                                                '\n' +
                                                    '</tr>'+
                                                '</table>');

                                            }else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });



                            }
                        }
                    });
                }
                else
                {        $('#tbl').prop('hidden',false);
                }
            });
        });
    </script>
{% endblock %}