{% extends 'Back/back.html.twig' %}
{% block body %}
    <script src="{{ asset('sorttable.js') }}"></script>
    <table class="table table-striped ">
        {{ form_start(form) }}
        <tr hidden>
            <td>{{ form_label(form.eleve) }}</td>
            <td>{{ form_widget(form.eleve) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.date) }}</td>
            <td>{{ form_widget(form.date) }}</td>
            <td>{{ form_errors(form.date) }}</td>

        </tr>

        <tr>
            <td></td>
            <td>{{ form_widget(form.Ajout, { 'attr': {'class': 'btn btn-info  '}} ) }}</td>

            {{ form_end(form) }}
    </table>

{% endblock %}