{% extends 'Back/back.html.twig' %}
{% block body %}
Classe: {{ cl.libelle }}
<table class="table table-striped">
    <tr align="center">

        <th>Nom</th>
        <th>Prenom</th>
        <th>Absence</th>
        <th>Noter</th>
        <th>Afficher notes</th>



    </tr>

    {% for ee in e %}

        <tr>

            <td>{{ ee.nom }}</td>
            <td>{{ ee.prenom }}</td>

            <td>
        <a href="{{ path('ajouta', {'ide': ee.id,'idc':cl.id }) }}">&nbsp;Marquer Absent</a> </td>
            <td>
                <a href="{{ path('ajoutn', {'id': ee.id,'idc': cl.id}) }}">&nbsp;Noter</a> </td>
            <td>
                <a href="{{ path('afficherne', {'ide': ee.id }) }}">&nbsp;Notes</a> </td>


        </tr>

    {% endfor %}

</table>
{% endblock %}