{% extends 'Back/back.html.twig' %}
{% block body %}
    <table class="table table-striped">
        {{ form_start(form) }}
        <tr hidden>
            <td>{{ form_label(form.eleve) }}</td>
            <td>{{ form_widget(form.eleve) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.valeur) }}</td>
            <td>{{ form_widget(form.valeur) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.matiere) }}</td>
            <td>{{ form_widget(form.matiere) }}</td>
            <span style="color: red">{{ form_errors(form.matiere) }} </span>
        </tr>
        <tr>

            <td>{{ form_label(form.captcha) }}</td>
            <td>{{ form_widget(form.captcha) }}


            <span style="color: red">{{ form_errors(form.captcha) }} </span>
            </td>


        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.Ajouter, { 'attr': {'class': 'btn btn-info  '}} ) }}</td>

            {{ form_end(form) }}
    </table>


{% endblock %}
{% block js %}
<script>

        $('#suivibundle_note_valeur').keyup(function () {


            $.ajax({

                success: function () {
                    var x = $('#suivibundle_note_valeur').val();
                    if (x < 0 || x > 20) {
                        alert('Note entre 0 et 20');


                        $('#suivibundle_note_Ajouter').prop('disabled', true);

                    } else {

                        $('#suivibundle_note_Ajouter').prop('disabled', false);
                    }
                }
            });


        });

</script>
{% endblock %}