{% extends 'Back/back.html.twig' %}
{% block body %}
    <table class="table table-striped">
        {{ form_start(form) }}
        <tr>

            <td>{{ form_label(form.date) }}</td>
            <td>{{ form_widget(form.date) }}</td>
            <td>{{ form_errors(form.date) }}</td>
        </tr>

        <tr>
            <td></td>
            <td>{{ form_widget(form.Ajout, { 'attr': {'class': 'btn btn-warning  '}} ) }}</td>

            {{ form_end(form) }}
    </table>

{% endblock %}