{% extends 'Back/backE.html.twig' %}
{% block body %}
    <table  class="table table-striped">
        <h1>Listes des réclamations</h1>
        <tr><td>Message</td>
            <td><b>Modifier</b></td>
            <td><b>Supprimer</b></td>

        </tr>


        {% for cc in c %}
            <tr>
                <td>{{ cc.message}}</td>
                <td><a href="{{ path('ModifierRecEns',{'id':cc.id}) }}"><i class="fa fa-edit" style="color:#2e6da4 " ></i></a></td>
                <td><a href="{{ path('SupprimerRecens',{'id':cc.id}) }}"><i class="fa fa-trash" style="color: #ff6c5f"></i></a></td>
                <td><a href="{{ path('user_admin') }}">back</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('ImpRecEns') }}">Imprimer</a>


{% endblock %}