{% extends 'Front/home.html.twig' %}
    {% block biblio %}
        <h1 class="title-sub mb-4">Mes Livres reserves</h1>
        {% for m in list %}
                {% for l in livre %}
                    {% if usr.id == m.idEleve and l.idLivre == m.idLivre %}
                        <div class="col-lg-3 col-sm-6 place-w3">
                        <td class="team-img">
                            <img height="300px" width="200px" style="background-image: url('{{ asset('images/' ~ l.image) }}')">
                        </td><br>
                        <td class="sub-para">{{ l.nom }}</td><br>
                        <td class="sub-para">{{ l.auteur }}</td><br>
                        <td class="sub-para">{{ l.quantite }}</td><br>
                        <td class="sub-para">{{ l.description }}</td><br>
                    {% endif %}
            {% endfor %}
        {% endfor %}

    {% endblock %}
